form.form_styling
{
    display:table;
}

div.form_styling
{
    display: table-row;
}
label,input
{
    display: table-cell;
    align-self: right;  
    margin: 10px;  	
}
button
{
	align-self: left;
}
body
{
	color: #71c9ce;
    background-color: #e3fdfd;
}
    	