body
{
	color: #71c9ce;
	font-family: sans-serif;
}    
.intro
{		
	vertical-align: top;
}
.content
{
	font-size: 20px;
	text-align: justify;
}
.bg
{
	background-color:#e3fdfd;
}
hr
{   
	border-style:none;
	border-top-style: dotted;
	border-top-width: 10px;
	border-top-color: white;
	width :30%;
}